.spacedActions {
  display: flex !important;
  justify-content: space-between !important;
}

.dialog {
  :global
  .MuiPaper-root {
    width: 500px;
  }
}

.addressContainer {
  width: 100%;
  height: 400px;
  position: relative;
}

.mapInput {
  width: 90% !important;
  margin: 5% !important;
  position: absolute !important;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;

  :global
  .MuiFormLabel-root {
    color: #333 !important;
  }

  :global
  .MuiFormLabel-root.Mui-focused {
    color: #333 !important;
  }

  :global
  .MuiFilledInput-underline.Mui-focused:after {
    display: none !important;
  }
}