@media print 
{
    @page {
      size: A4;
      margin: 0;
    }

    html, body {
        width: 210mm;
        height: 282mm;
        font-size: 10px;
        background: #FFF;
        overflow: visible;
    }

    .addRemoveTd {
        display: none;
    }

    body {
        padding: 5mm;
    }

    .chartjs-render-monitor {
        width: 100% !important;
        height: 100% !important;
    }
}