:global
body {
  background: #fff;
}

.page {
  max-width: 1000px;
  margin: 20px auto auto auto;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 500;
  
  * {
    // font-family: 'Raleway', sans-serif;
    // font-weight: 500;
  }
}

.logo {
  width: 100%;
  max-width: 150px;
}

.logoContainer {
  text-align: center;
}

.logotitle {
  color: #40a3e5;
  font-weight: bold;
}

.heading {
  font-size: 20px;
  font-weight: 700;
  color: #40a3e5;
}

.heading2 {
  font-size: 25px;
  font-weight: 700;
  color: #40a3e5;
  margin-bottom: 20px;
  text-align: center;
}


.table {
  width: 100%;

  tr {
    td {
      padding: 5px;
      border: 1px solid #fff;
      background: rgb(145, 203, 239);
    }
    td:nth-child(2) {
      background: rgb(199, 226, 246);
      text-align: right;
    }
  }
}

.table2 {
  width: 100%;

  tr {
    td {
      padding: 5px;
      border: 1px solid #fff;
      background: rgb(145, 203, 239);
    }

    &:nth-child(even) {
      td {
        background: rgb(199, 226, 246);
      }
    }
  }
}

.table3 {
  width: 100%;

  td, th {
    width: 33%;
    text-align: center;
    padding: 5px;
    border: 1px solid #fff;
    background: rgb(145, 203, 239);
  }
}

.chartContainer {
  background: rgb(221, 234, 246);
  padding: 20px;
  margin-top: 24px;
}

.chart {
  background: #fff;
  padding: 15px;
}

.disclaimer {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 20px auto !important;
}

