.page {
  max-width: 100%;
  background: yellow; //temporary
  font-family: 'Roboto Mono', monospace;  
  font-size: 14px;
  padding: 10px;
}

.logo {
  width: 100%;
  max-width: 150px;
}

.logotitle {
  color: #40a3e5;
  font-weight: bold;
}

.heading {
  font-size: 18px;
    font-weight: 800;
    color: #40a3e5;
}

.table {
  width: 100%;

  tr {
    td {
      padding: 4px;
      border: 1px solid #fff;
      background: rgb(145, 203, 239);
    }
    td:nth-child(2) {
      background: rgb(199, 226, 246);
    }
  }
}

.table2 {
  width: 100%;

  tr {
    td {
      padding: 4px;
      border: 1px solid #fff;
      background: rgb(145, 203, 239);
    }

    &:nth-child(even) {
      td {
        background: rgb(199, 226, 246);
      }
    }
  }
}

.table3 {
  width: 100%;

  td, th {
    width: 33%;
    text-align: center;
    padding: 4px;
    border: 1px solid #fff;
    background: rgb(145, 203, 239);
  }
}

.chartContainer {
  background: rgb(221, 234, 246);
  padding: 20px;
  margin-top: 24px;
}

.chart {
  background: #fff;
}